### Data Quality Assessment

In [1]:
#importing modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime

warnings.filterwarnings('ignore')

In [2]:
#reading the full excel file handler
xls = pd.ExcelFile("E:/Omar's Stuff/College related/KPMG_VI_New_raw_data_update_final2.xlsx", engine='openpyxl')

In [3]:
#reading each worksheet to a specific dataframe
Transactions = pd.read_excel(xls, 'Transactions', engine='openpyxl')

NewCustomerList = pd.read_excel(xls, 'NewCustomerList', engine='openpyxl')

CustomerDemographic = pd.read_excel(xls, 'CustomerDemographic', engine='openpyxl')

CustomerAddress = pd.read_excel(xls, 'CustomerAddress', engine='openpyxl')

### Data Preprocessing

In [4]:
def preprocess(df):
    '''
        This function takes in a dataframe and removes the first column
        and uses the first row of the data as the new header of the dataframe
        It removes the Null columns and also the null rows, as I found out that there are not that much null vals and 
        its okay to remove them
    
        Args:
            df---> pandas dataframe not preprocessed
    
        Returns:
            the new preprocessed dataframe
    '''
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header
    df.dropna(axis = 1, how = 'all', inplace = True)
    df.dropna(axis = 0, inplace = True)
    return df

In [5]:
Transactions = preprocess(Transactions)

NewCustomerList = preprocess(NewCustomerList)

CustomerDemographic = preprocess(CustomerDemographic)

CustomerAddress = preprocess(CustomerAddress)

In [6]:
print("the number of null vals in the Transactions dataframe is {}".format(Transactions.isna().sum()))

the number of null vals in the Transactions dataframe is 0
transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [7]:
print("the number of null vals in the NewCustomerList dataframe is {}".format(NewCustomerList.isna().sum()))
#the NewCustomerList dataframe contains four unrecognized columns that dont exist in the excel file but exist here(needs more invistigation)
#as they contain data

the number of null vals in the NewCustomerList dataframe is 0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
NaN                                    0
NaN                                    0
NaN                                    0
NaN                                    0
NaN                                    0
Rank                                   0
Value                                  0
dtype: int64

In [8]:
print("the number of null vals in the Transactions CustomerDemographic is {}".format(CustomerDemographic.isna().sum()))

the number of null vals in the Transactions CustomerDemographic is 0
customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
default                                0
owns_car                               0
tenure                                 0
dtype: int64

In [9]:
print("the number of null vals in the CustomerAddress dataframe is {}".format(CustomerAddress.isna().sum()))

the number of null vals in the CustomerAddress dataframe is 0
customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

#### From the above exploration I foun out that its okay to remove the null rows from the dataframe as its size wil not have a huge impact o the resulting dataframe

In [10]:
#keeping the unknown columns in a seperate dataframe and removing them from the original dataframe 
#null_columns_in_NewCustomerList = NewCustomerList.iloc[:, 16:21]

NewCustomerList.columns
NewCustomerList.columns = ['first_name', 'last_name', 'gender', 'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'job_industry_category',
                          'wealth_segment', 'deceased_indicator', 'owns_car', 'tenure', 'address', 'postcode', 'state', 'country', 'property_valuation', 
                          '1', '2', '3', '4', '5', 'Rank', 'Value']
NewCustomerList.drop(['1', '2', '3', '4', '5'], axis = 1, inplace = True)

### And I thinks thats it for data cleaning to remove null vals and null columns now to start checking the datatypes of the columns of the dataframes in hand. Startinhg with the *Transactions* dataframe

In [11]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 1 to 20000
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  object
 1   product_id               19445 non-null  object
 2   customer_id              19445 non-null  object
 3   transaction_date         19445 non-null  object
 4   online_order             19445 non-null  object
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  object
 11  standard_cost            19445 non-null  object
 12  product_first_sold_date  19445 non-null  object
dtypes: object(13)
memory usage: 2.1+ MB

From the above informations it seems like I will have to do lots of data type changes for example I need to change the *transaction_date* column to *datetime* type and other columns need to be changed as well

In [12]:
#changing the datatype of 'transaction_date' to datetime
Transactions['transaction_date'] =  pd.to_datetime(Transactions['transaction_date'], format='%d%b%Y:%H:%M:%S.%f')

In [13]:
#cahnging the datatype of *transaction_id* and *product_id* to int
Transactions.transaction_id = Transactions.transaction_id.astype('int64')
Transactions.product_id  = Transactions.product_id .astype('int64')

In [14]:
#cahnging the datatype of 'online_order' to 'bool'
Transactions.online_order =Transactions.online_order.astype('bool')

In [15]:
#cahnging the datatype of 'list_price' to 'float'
Transactions.list_price = Transactions.list_price.astype('float64')

In [16]:
#cahnging the datatype of 'standard_cost' to 'float'
Transactions.standard_cost = Transactions.standard_cost.astype('float64')

In [17]:
#changing the datatype of 'product_first_sold_date' to datetime
Transactions.product_first_sold_date = pd.to_datetime(Transactions['product_first_sold_date'], format='%d%b%Y:%H:%M:%S.%f')

### Now to the NewCustomerList dataframe

In [18]:
NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 1 to 1000
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           715 non-null    object
 1   last_name                            715 non-null    object
 2   gender                               715 non-null    object
 3   past_3_years_bike_related_purchases  715 non-null    object
 4   DOB                                  715 non-null    object
 5   job_title                            715 non-null    object
 6   job_industry_category                715 non-null    object
 7   wealth_segment                       715 non-null    object
 8   deceased_indicator                   715 non-null    object
 9   owns_car                             715 non-null    object
 10  tenure                               715 non-null    object
 11  address                              715 non-null    object
 12  postcode                             715 non-null    object
 13  state                                715 non-null    object
 14  country                              715 non-null    object
 15  property_valuation                   715 non-null    object
 16  Rank                                 715 non-null    object
 17  Value                                715 non-null    object
dtypes: object(18)
memory usage: 106.1+ KB

In [19]:
#Changing the datatype of 'DOB' tp datetime
NewCustomerList.DOB = pd.to_datetime(NewCustomerList['DOB'])

In [20]:
#Changing the datatype of 'Rank' to int
NewCustomerList.Rank = NewCustomerList.Rank.astype('int')

In [21]:
#Changing the datatype of 'Value' to int
NewCustomerList.Value = NewCustomerList.Value.astype('float')

In [22]:
#changing the values to be 'True' or 'False' insted of 'Yes' or 'No'
NewCustomerList.owns_car = [True if i  == 'Yes' else False for i in NewCustomerList.owns_car]

In [23]:
#changing the values to be 'M' or 'F' insted of 'Male' or 'Female'
NewCustomerList.gender = ['M' if i  == 'Male' else 'F' for i in NewCustomerList.gender]

In [24]:
#Changing the datatype of 'property_valuation' to int
NewCustomerList.property_valuation = NewCustomerList.property_valuation.astype('int')

In [25]:
#Changing the datatype of 'postcode' to int
NewCustomerList.postcode = NewCustomerList.postcode.astype('int')

In [26]:
#Changing the datatype of 'past_3_years_bike_related_purchases' to int
NewCustomerList.past_3_years_bike_related_purchases = NewCustomerList.past_3_years_bike_related_purchases.astype('int')

In [27]:
#Changing the datatype of 'tenure' to int
NewCustomerList.tenure = NewCustomerList.tenure.astype('int')

In [28]:
NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 1 to 1000
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           715 non-null    object
 1   last_name                            715 non-null    object
 2   gender                               715 non-null    object
 3   past_3_years_bike_related_purchases  715 non-null    int32
 4   DOB                                  715 non-null    datetime64[ns]
 5   job_title                            715 non-null    object
 6   job_industry_category                715 non-null    object
 7   wealth_segment                       715 non-null    object
 8   deceased_indicator                   715 non-null    object
 9   owns_car                             715 non-null    bool
 10  tenure                               715 non-null    int32
 11  address                              715 non-null    object
 12  postcode                             715 non-null    int32
 13  state                                715 non-null    object
 14  country                              715 non-null    object
 15  property_valuation                   715 non-null    int32
 16  Rank                                 715 non-null    int32
 17  Value                                715 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(1), int32(5), object(10)
memory usage: 87.3+ KB

### Now to the CustomerDemographic dataframe

In [29]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2630 entries, 1 to 3997
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          2630 non-null   object
 1   first_name                           2630 non-null   object
 2   last_name                            2630 non-null   object
 3   gender                               2630 non-null   object
 4   past_3_years_bike_related_purchases  2630 non-null   object
 5   DOB                                  2630 non-null   object
 6   job_title                            2630 non-null   object
 7   job_industry_category                2630 non-null   object
 8   wealth_segment                       2630 non-null   object
 9   deceased_indicator                   2630 non-null   object
 10  default                              2630 non-null   object
 11  owns_car                             2630 non-null   object
 12  tenure                               2630 non-null   object
dtypes: object(13)
memory usage: 287.7+ KB

In [30]:
#changed the datatype of 'customer_id' to int
CustomerDemographic.customer_id = CustomerDemographic.customer_id.astype('int')

In [31]:
#Changed the data to 'F'
CustomerDemographic.gender = ['F' if i == 'Female' or i == 'Femal' or i == 'F' else 'M' for i in CustomerDemographic.gender]
#i found out that the data in the gender column is not the same where there are some rows encoded 'Femal', 'F' and 'Female' so I made them all 'F'

In [32]:
#changed the datatype of 'past_3_years_bike_related_purchases' to int
CustomerDemographic.past_3_years_bike_related_purchases = CustomerDemographic.past_3_years_bike_related_purchases.astype('int')

In [33]:
#changed the datatype of 'DOB' to datetime
CustomerDemographic.DOB = pd.to_datetime(CustomerDemographic['DOB'])

In [34]:
#made modifications to the values of the 'deceased_indicator' column; changed the value to be 1 if the original value was
# 'Y' and 0 if it was 'N' to be able to use it in other ways and make inference from it
CustomerDemographic.deceased_indicator = [1 if i == 'Y' else 0 for i in CustomerDemographic.deceased_indicator]

In [35]:
#droped the 'default' column from the CustomerDemographic dataframe as it has weird values
CustomerDemographic.drop('default', inplace = True, axis = 1)

In [36]:
#made modifications to the values of the 'owns_car' column; changed the value to be 1 if the original value was
# 'Yes' and 0 if it was 'No' to be able to use it in other ways and make inference from it
CustomerDemographic.owns_car = [1 if i == 'Yes' else 0 for i in CustomerDemographic.owns_car]

In [37]:
#changed the datatype of 'tenure' to int
CustomerDemographic.tenure = CustomerDemographic.tenure.astype('int')

### Now to the CustomerAddress Dataframe

In [38]:
#changed the datatype of 'customer_id' to int
CustomerAddress.customer_id = CustomerAddress.customer_id.astype('int')

In [39]:
#changed the datatype of 'postcode' to int
CustomerAddress.postcode = CustomerAddress.postcode.astype('int')

In [40]:
#changed the datatype of 'property_valuation' to int
CustomerAddress.property_valuation = CustomerAddress.property_valuation.astype('int')

In [41]:
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int32
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int32
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int32
dtypes: int32(3), object(3)
memory usage: 171.8+ KB

### Saving the dataframes after the cleaning to specific files

In [42]:
CustomerDemographic.to_excel("E:/Omar's Stuff/College related/Virtual DataAnalysis Camp/CustomerDemographic.xlsx")

In [43]:
NewCustomerList.to_excel("E:/Omar's Stuff/College related/Virtual DataAnalysis Camp/NewCustomerList.xlsx")

In [44]:
Transactions.to_excel("E:/Omar's Stuff/College related/Virtual DataAnalysis Camp/Transactions.xlsx")

In [45]:
CustomerAddress.to_excel("E:/Omar's Stuff/College related/Virtual DataAnalysis Camp/CustomerAddress.xlsx")